<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>빼빼로데이 기념 빼빼로 뽑기</title>

    <style>
        body {
            margin: 10vh;
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        h1 {
            margin-bottom: 20px;
        }

        img {
            width: 1000px;
            height: 600px;
        }
    </style>
</head>
<body>
        <img src="/image/server.png" />

        <form action="/pepero/result" method="POST">
            <button> 뽑기</button>

        </form>
</body>
</html>